Flask==3.0.0
gunicorn==21.2.0
playwright==1.40.0
fake_useragent==1.4.0
Pillow==9.5.0
onnx==1.14.0
onnxruntime==1.14.0
numpy==1.21.6
opencv-python-rolling==4.7.0.20230211
coloredlogs==15.0.1
python-logging-discord-handler==0.1.4
python-dotenv==1.0.1